<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Checker</title>
    <link rel="icon" type="image/x-icon" href="geodude.ico"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>Plagiarism Checker</h1>
        <form action="/check" method="post">
            <div class="form-container">
                <div class="form-group">
                    <label for="code1">Code Snippet 1:</label>
                    <textarea id="code1" name="code1" rows="10" placeholder="Paste your first code snippet here..."></textarea>
                </div>
                <div class="form-group">
                    <label for="code2">Code Snippet 2:</label>
                    <textarea id="code2" name="code2" rows="10" placeholder="Paste your second code snippet here..."></textarea>
                </div>
            </div>
            <button type="submit">Check for Plagiarism</button>
        </form>
        {% if result %}
            <h2>Results: {{ result }}</h2>
        {% endif %}
    </div>
</body>
</html>
